/* Vertical ScrollBar */
.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #BB86FC;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

/* Horizontal ScrollBar */
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #444444;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.scroll-bar:horizontal .track {
    -fx-background-color: transparent;
}